$link-color: #546e7a;
$orange: #e74c3c;
$green: #8bc34a;
$title-color: #263238;

// font-family: 'Lato', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Roboto', sans-serif;